@charset "UTF-8";

body {
    background-color: #5bee9d;
}

#c5ebd6

/*
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

:root {
--cor0:#c5ebd6;
--cor1:#83e1ad;
--cor2:#3ddc84;
--cor3:#2fa866;
--cor4:#1a5c37;
--cor5:#063d1e;

  }

  header > h1 {
    color: white;
    padding-top: 40px;
    margin-bottom: 20px;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.61);

    

}

main h1{  
      color: #022c14;
      src: url(../fontes/Bebas_Neue.zip);


}

header > h2 {
color: white;
font-size: 2;
max-width: 500px;
padding-right: 10px;
padding-top: 10px;
margin: auto;
bottom: 20px;
text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.61);


}

main p {
    margin: 15px 0px ;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

header{
    background-image: linear-gradient( to bottom, #0ba74f,  #033117);
    min-height: 150px;
    text-align: center;


}





#zap{
    z-index: 01;
bottom: 60px;
right: 30px;
border-radius: 100%;
width: 60px;
text-align: center;
position: fixed;

}

#plant{
    background-color: #06361b;
    display: block;
    color: white;
    text-align: center;
    padding: 10px;
}

#plant:hover{
    background-color: #00ff6a;
    
}


main strong {

    color: #063d1e;
    font-weight: bold;
    padding: 2px 6px;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: #022c14;
    background-color: #00ff6a;
    padding: 2px 6px;
}

main a :hover{

    text-decoration: underline;
     color: #046e34;
}

li{
    background-color: #063d1e;
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.253);
    border: solid rgba(0, 0, 0, 0.726) ;
    border-width: 1px;

}


main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.479);
    border-bottom-left-radius: 10px;
     border-bottom-right-radius: 10px;

}
   


    main img {
        width: 100%;

    }

   

    

    footer{

        background-color: #063d1e;
        color: white;
        text-align: center;
        font-size: 0.8;
        padding: 5px;
    }
    footer > p > a {

        color: white;
        font-weight: bolder;
        text-decoration: none;
    } 

    aside {

        background-color: #00ff6a;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.589);



    }

    


    footer a :hover{

        text-decoration: underline;
        color: #55ffa1;
    }

    aside ul{
        list-style-type: ' \2714\00a0\00a0';
        list-style-position: inside;
        columns: 2;
        

    } 
aside h3 {

    background-color: #054420;
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px ;
    
}


    *{

        margin: 0px;
        padding: 0px;
    }
    
    li >a {
        color: #c5ebd6;
        padding: 10px;
        text-decoration: none;
        font-weight: bold;
        width: 500px;
         

    }


    li > a:hover {
        background-color: #0ba74f;
        color: black;
        transition-duration:  5s;
    }
    
    .verde{

        color: #000000;
        font-size: 1.3em;
        background-image: linear-gradient( to right, #09f770,  transparent);
        text-indent: 8px;
        border-radius: 20px 20px 20px 20px;

          }

        .zap{

            background-color: white;
        }

        menu {
            display: none;
        }